/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~semantic-ui-css/semantic.min.css';
@import '~@trendmicro/react-sidenav/dist/react-sidenav.css';

body {
  position: relative;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7c7c7c; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db3d44; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
